%h1 Listing events

%table.table.table-blank
  %thead
    %tr
      %th= t('.date')
      %th= t(:title)
      %th= t(:flyer)
      %th
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= l(event.date)
        %td= link_to event.title, event
        %td
          - if event.flyer_image.attached?
            X
        %td= link_to t(:edit), edit_event_path(event)
        %td= link_to t(:destroy), event, method: :delete, data: { confirm: t(:sure?) }

= link_to t('new_event'), new_event_path
