%p#notice= notice

%p
  %b
    = t('activerecord.attributes.event.title')
  = @event.title
%p
  %b
    = t('activerecord.attributes.event.date')
  = @event.date
%p
  %b
    = t('activerecord.attributes.event.description')
  = @event.description

= link_to t(:edit), edit_event_path(@event)
\|
= link_to t(:back), events_path
