<!DOCTYPE html>
<html>
  <head>
    <title>ReggaeOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">

    <h1>Reggae CDMX</h1>

    <div class="content">
      <%= yield %>
    </div>

    <footer class="footer">
      <span>
        Hecho por Jahshua y FlowFX.
      </span>
    </footer>
  </body>

</html>
