<!DOCTYPE html>
<html>
  <head>
    <title>ReggaeOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">

    <h1><%= link_to 'Reggae CDMX', calendar_index_path %></h1>

    <ul>
      <li><%= button_to 'todos eventos', events_path, method: :get %></li>
      <li><%= button_to 'todos localidades', venues_path, method: :get %></li>
    </ul>

    <ul>
      <li><%= button_to 'nuevo evento', new_event_path, method: :get %></li>
      <li><%= button_to 'nuevo localidad', new_venue_path, method: :get %></li>
    </ul>

    <div class="content">
      <%= yield %>
    </div>

    <footer class="footer">
      <span>
        Hecho por Jahshua y FlowFX.
      </span>
    </footer>
  </body>

</html>
